body{
  background: #EEF0F2;
  color: #6B717E;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: lighter;
}
h1{
  font-family: Montserrat;
  color: #35605A;
  font-size: 40px;
}
h2 {
  font-family: Montserrat;
  color: #7D8491;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: #C0C5C1;
}
a:hover {
  text-decoration: none;
  color: #7D8491;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1000/600?random");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}
#banner h1 {
  font-size: 50px;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background-color: black;
  color: lightgrey;
}
#footer a{
  font-size: : 30px;
}
.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
}
.card-white img {
  margin-bottom: 20px;
}

.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}